.content {
    background-color: #0D1117;
    font-family: Inter, sans-serif, Helvetica;
    width: 100%;
}
/* 
@media screen and (max-width: 1023px) {
    .content {
        max-width: 1023px;
    }
} */