.intro {
    max-width: 1300px;
    margin: 0 auto 256px;
    padding: 0 10px;
    align-items: center;
    color: #fff;
    display: grid;
    border: 1px solid #fff;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    grid-template-areas: 
        'intro__title intro__image'
        'intro__subtitle intro__image'
        'intro__link-block intro__image';
}

@media screen and (max-width: 1023px) {
    .intro {
        grid-template-areas: 
            'intro__image' 
            'intro__title' 
            'intro__subtitle';
    }
}
