.reviews__description_text {
    margin: 0 auto;
    max-width: 544px;
    font-size: 18px;
    font-family: Inter;
    line-height: 27px;
}

.reviews__description_text:last-child {
    margin-top: 24px;
}